Makefile
Makefile.in
/INSTALL
/autom4te.cache/
/build-aux/
/data/.dstamp
/data/gnome-logs.1
/data/org.gnome.Logs.appdata.valid
/data/org.gnome.Logs.appdata.xml
/data/org.gnome.Logs.desktop
/data/org.gnome.Logs.gschema.valid
/data/org.gnome.Logs.service
/data/version.xml
/help/*/*.mo
/help/*/*.page
/help/*/*.stamp
/help/*/legal.xml
!/help/C
/m4/
/org.gnome.Logs.enums.xml
/po/.intltool-merge-cache
/po/Makefile.in*
/po/POTFILES
/po/*.gmo
/po/stamp-it
/src/.deps
/src/.dirstamp
/src/gl-enums.*
/src/gl-resource.*
/src/*.o
/aclocal.m4
/config.*
/configure
/gnome-logs
/stamp-h1
