Makefile
/INSTALL
/Makefile.in
/autom4te.cache/
/build-aux/
/data/.dstamp
/data/gnome-logs.desktop
/m4/
/po/.intltool-merge-cache
/po/Makefile.in*
/po/POTFILES
/po/*.gmo
/po/stamp-it
/src/.deps
/src/.dirstamp
/src/gl-enums.*
/src/gl-resource.*
/src/*.o
/aclocal.m4
/config.*
/configure
/gnome-logs
/stamp-h1
