/* Theme overrides. */
.categories {
    background-color: shade(@theme_bg_color, 0.99)
}

.category {
    padding: 15px;
    padding-right: 30px;
}

.detail-comm, .detail-audit_session, .detail-kernel_device, .detail-message, .detail-priority, .detail-time, .detail-subject, .detail-definedby, .detail-support, .detail-documentation {
    padding: 10px;
}

.detail-field-label {
    padding-left: 10px;
}

.event {
    padding: 5px;
}

.event-time {
    font-size: small;
}

.title-menu-button {
    padding-top: 0px;
    padding-bottom: 0px;
}

.compressed-entries-label {
    background-color: #d4d4d4;
    font-size: small;
    border-radius: 3px;
    padding-left: 5px;
    padding-right: 5px;
}

.compressed-row {
    background-color: #f9f9f9;
}

.compressed-row-header {
    background-color: #f0f0f0;
}
