/* Theme overrides. */
.categories {
    background-color: shade(@theme_bg_color, 0.99)
}

.category {
    padding: 15px;
    padding-right: 30px;
}

.detail-comm {
    font-weight: bold;
    padding: 10px;
}

.detail-audit_session, .detail-catalog, .detail-kernel_device, .detail-message, .detail-priority, .detail-time {
    padding: 10px;
}

.detail-field-label {
    padding-left: 10px;
}

.event {
    padding: 5px;
}

.event-time {
    font-size: small;
}
