/* Theme overrides. */
.categories {
    background-color: shade(@theme_bg_color, 0.99)
}

.category {
    padding: 10px;
}

.detail-comm {
    font-weight: bold;
    padding: 10px;
}

.detail-catalog, .detail-message, .detail-time {
    padding: 10px;
}

.event {
    padding: 5px;
}

.event-time {
    font-size: small;
}
