/* Theme overrides. */
.detail-comm, .detail-audit_session, .detail-kernel_device, .detail-message, .detail-priority, .detail-time, .detail-subject, .detail-definedby, .detail-support, .detail-documentation {
    padding: 3px;
}

.detail-field-label {
    padding-left: 3px;
}

.event {
    padding: 5px;
}

.event-time {
    font-size: small;
}

.title-menu-button {
    margin-bottom: -7px;
    margin-top: -6px;
}

.title-menu-button > button {
    border-radius: 0;
}

.compressed-entries-label {
    background-color: alpha(@theme_fg_color, 0.6);
    color: @theme_bg_color;
    font-size: small;
    border-radius: 3px;
    padding-left: 5px;
    padding-right: 5px;
}


.compressed-row {
    background-color: shade(@theme_base_color, 0.95);
}
  .compressed-row:hover {
      background-color: shade(@theme_base_color, 0.99);
  }

.compressed-row-header {
    background-color: @theme_base_color;
}
  .compressed-row-header:hover {
      background-color: shade(@theme_base_color, 1.05);
  }

.popover-activated-row {
    color: @accent_fg_color;
    background-color: @accent_bg_color;
}

.compressed-rows-group-separator {
  background-color: shade(@borders,0.98);
}
