/* Theme overrides. */
.detail-comm, .detail-audit_session, .detail-kernel_device, .detail-message, .detail-priority, .detail-time, .detail-subject, .detail-definedby, .detail-support, .detail-documentation {
    padding: 3px;
}

.detail-field-label {
    padding-left: 3px;
}

.event {
    padding: 5px;
}

.event-time {
    font-size: small;
}

.title-menu-button {
    margin-bottom: -7px;
    margin-top: -6px;
}

.title-menu-button > button {
    border-radius: 0;
}

.compressed-entries-label {
    background-color: color-mix(in srgb, var(--theme-fg-color) 60%, transparent);
    color: var(--theme-bg-color);
    font-size: small;
    border-radius: 3px;
    padding-left: 5px;
    padding-right: 5px;
}


.compressed-row {
    background-color: shade(var(--view-bg-color), 0.95);
}
  .compressed-row:hover {
      background-color: shade(var(--view-bg-color), 0.99);
  }

.compressed-row-header {
    background-color: var(--view-bg-color);
}
  .compressed-row-header:hover {
      background-color: shade(var(--view-bg-color), 1.05);
  }

.popover-activated-row {
    color: var(--accent-fg-color);
    background-color: var(--accent-bg-color);
}

.compressed-rows-group-separator {
  background-color: shade(var(--border-color), 0.98);
}
